<%- include("partials/headers");-%>
<div class="container">
	
	<div class="row">
		<div class="column">
			<img class="img-responsive" src="<%=product.image%>" >
			 <h3><%=product.name%></h3>
			 <h3><%=product.price%></h3>
			 <h3><%= product.sellername%></h3>
			 <h4><%= product.sellerno%></h4>
			
			
	            <a href="/addtocart/<%= product._id %>">Add to cart</a> 
			
		 
		</div>
	</div>
</div>